fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic==2.10.6
python-multipart==0.0.20
httptools==0.6.4
watchfiles==1.1.0
email-validator
jinja2==3.1.5
python-multipart
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart
PyJWT==2.8.0
